---
import Link from "./Link.astro";
---

<section>Follow me on <Link href="https://www.twitter.com" isExternalLink>Instagram</Link>, <Link href="https://www.twitter.com" isExternalLink>Twitter</Link> or send me an <Link href="Email" isExternalLink>Email</Link>.</section>

